@model ConvicartWebApp.Models.Customer

<form asp-action="SignIn" method="post">
    <div>
        <label for="Email">Email</label>
        <input asp-for="Email" placeholder="Enter your email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label for="Password">Password</label>
        <input asp-for="Password" type="password" placeholder="Enter your password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <a href="#" class="forgot-password">Did you forget the password?</a>

    <button type="submit">Sign In</button>

    <!-- Social Login Buttons -->
    <div class="social-login">
        <a class="google" href="#"></a>
        <a class="facebook" href="#"></a>
        <a class="microsoft" href="#"></a>
    </div>
</form>
