@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2 style="margin-top:40px; margin-left:30%;">Forgot Password Confirmation</h2>

<p style="margin-left:30%;">If your email is registered, a password reset link has been sent to your email.</p>
